{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi sahifasi {% endblock title %}

{% block content %}


<div class="container mt-4">
    <h3>Xush kelibsiz, {{ user.username }}</h3>
    <h3 class="mb-4">Sizning ma'lumotlaringiz</h3>
    <form>
        <div class="row mb-3">
            <div class="col-md-12">
                <h1> {{ profile.user }} </h1>
            </div>
            <div class="col-md-6">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control custom-input" value="{{ user.username }}"
                       readonly>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-control custom-input" value="{{ user.email }}" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="first_name" class="form-label">Ism</label>
                <input type="text" id="first_name" class="form-control custom-input" value="{{ user.first_name }}"
                       readonly>
            </div>
            <div class="col-md-6">
                <label for="last_name" class="form-label">Sharif</label>
                <input type="text" id="last_name" class="form-control custom-input" value="{{ user.last_name }}"
                       readonly>
            </div>
        </div>
    </form>
    <div class="row mb-3">
        <div class="col-md-6">
            <h3>
                <a href="{% url 'edit_user_information' %}">Profilni o'zgartirish</a>
            </h3>
        </div>
        <div class="col-md-6">
            <h3>
                <a href="{% url 'password_change' %}">Parolni o'zgartirish</a>
            </h3>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3><a href="{% url 'logout' %}" class="btn btn-danger">Log out</a></h3>
    </div>
</div>

{% endblock content %}
