{% extends 'news/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Parolni o'zgartirish sahifasi {% endblock title %}

{% block content %}
<!--
<style>
    .margin_bottom {
        margin-bottom: 15px;
    }
    .custom_font {
        font-family: 'Oswald', sans-serif;
    }
</style>
-->
<div class="container mt-4 margin_bottom custom_font">
    <h1 class="mb-4">Parolni o'zgartirish</h1>
    <p>Parolingizni o'zgartirish uchun Sizning emailingizga link yuborildi</p>
    <p>Agar emailingizga habar bormagan bo'lsa, iltimos qayta urinib ko'ring!</p>
</div>
{% endblock content %}
