{% extends 'news/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Parolni tiklash sahifasi {% endblock title %}

{% block content %}
<style>
    .margin_bottom {
        margin-bottom: 15px;
    }
    .custom_input {
        width: 75%;
    }
    .custom_font {
        font-family: 'Oswald', sans-serif;
    }
    .text-danger {
        color: red;
        font-size: 0.875rem;
    }
</style>

<div class="container mt-4 margin_bottom custom_font">
    <h1 class="mb-4">Parolni tiklash</h1>
    <p>Parolingizni o'zgartirish uchun quyidagi formani to'ldiring:</p>
    {% if validlink %}
    <p>Iltimos, yangi parolni ikki marotaba kiriting</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Tasdiqlash</button>
    </form>
    {% else %}
    <p>Siz foydalanayotgan link yaroqsiz hisoblanadi. U avval foydalanilgan yoki foydalanish muddati tugagan bo'lishi
        mumkin!
    </p>
    {% endif %}
</div>
{% endblock content %}
